button {
    width: fit-content;
    font-size: 20px;
}

textarea {
    width: 200px;
    height: 27px;
    resize: none;
    text-align: center;
    font-size: 20px;
}

footer {
    bottom: 2%;
    left: 1%;
    position: absolute;
}

footer>p {
    margin: 0%;
}

#calc-desc {
    margin-bottom: 2%;
}

#page-title {
    position: absolute;
    left: 50%;
    top: 0%;
}

.body-div {
    position: absolute;
    top: 5%;
    width: 90%;
    left: 1.5%;
}

.textareas-titles {
    width: 65px;
    float: left;
}

.textareas {
    width: 80%;
    position: relative;
    float: left;
}

.textareas-titles>p {
    margin: 0%;
    font-size: 110%;
}

.buttons {
    border-bottom: 20px;
}

#formula {
    font-size: 120%;
}

.formulas>p {
    position: absolute;
    margin-top: 5px;
    margin-bottom: 0%;
    font-size: 150%;

}

.formulas {
    height: 40px;
    width: 100px;
}

.NaN {
    position: absolute;
    left: 285px;
    margin-top: 0px;
}

.NaN>h3 {
    line-height: 95%;

}